<a href="https://colab.research.google.com/github/Enrique0404/Hackathon-UTEC/blob/main/Hackathon_BA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![picture](https://drive.google.com/uc?export=view&id=1fgw5LmnIXFKvPyfNwXr4t79DIJ11Pgtk)

In [ ]:
#importar librerias
import pandas as pd
import seaborn as sns

#importar datos
df = pd.read_csv('https://data.insideairbnb.com/argentina/ciudad-aut%C3%B3noma-de-buenos-aires/buenos-aires/2024-11-29/data/listings.csv.gz')

In [ ]:
df

In [ ]:
pd.set_option('display.max_columns', None) # Esto es para poner la opción de mostrar todas las columnas
df.head(3)

In [ ]:
#visualizamos columnas
df.info()

In [ ]:
#filtramos las columnas que nos interesan

df2 = df[["id","host_id", "listing_url","host_name", "host_is_superhost", "name", "neighbourhood", "neighbourhood_cleansed", "host_response_rate","host_acceptance_rate", "latitude", "longitude", "room_type", "price", "number_of_reviews", "review_scores_rating","has_availability","availability_30","calendar_last_scraped","minimum_minimum_nights","maximum_nights","bedrooms","beds"  ]]

In [ ]:
df2.head()

In [ ]:
#Limpiamos variables como price, host_response_rate y host_acceptance_rate
def limpiar(a):
  return str(a).replace("$","").replace(",","")
df2["price"] = df2["price"].apply(limpiar)#replace("[$,]", "")
df2["host_response_rate"] = df2["host_response_rate"].str.replace("%","")
df2["host_acceptance_rate"] = df2["host_acceptance_rate"].str.replace("%","")

In [ ]:
df2.head()

In [ ]:
#df2.dropna([],inplace=True)
#eliminamos los datos vacios para la columana price
df2.dropna(subset=['price'], inplace=True)

In [ ]:
df2.info()

In [ ]:
df2.head()

In [ ]:
#eliminamos los registros con valor de texto nan de la columna price
df2.drop(df2[df2['price']=='nan'].index,inplace=True)

In [ ]:
# Crea una nueva columna que indica si el valor es 'nan' (como texto)
df2['is_nan_text'] = df2['price'] == 'nan'

# Agrupa por esta nueva columna y cuenta los registros
resultados = df2.groupby('is_nan_text').size().reset_index(name='count')

print(resultados)

In [ ]:
#Convertimos el precio, host_response_rate y host_acceptance_rate a float
df2['price'] = df2['price'].astype(float)
df2["host_response_rate"] = df2['host_response_rate'].astype(float)
df2["host_acceptance_rate"] = df2['host_acceptance_rate'].astype(float)

In [ ]:
df2.head(5)

In [ ]:
#conversion de precios en pesos argentinos a dolares
df2['Price$']=df2['price']*0.00096

In [ ]:
#generamos las estadisticas
df2[['host_response_rate','host_acceptance_rate','price','Price$','number_of_reviews','review_scores_rating','availability_30','minimum_minimum_nights','maximum_nights','bedrooms','beds']].describe().T

#FILTROS PARA EL VIAJE

In [ ]:
  #PRECIO
df2 = df2[df2['Price$']<50]

  #APARTAMENTO
df2 = df2[df2['room_type'] == 'Entire home/apt']

  #N° DE DORMITORIOS Y CAMAS
df2 = df2[df2['bedrooms']>= 2]
df2 = df2[df2['beds']>= 3]

  #DIAS DE DISPONIBILIDAD
df2 = df2[df2['availability_30']>= 5]

In [ ]:
df2.head()

In [ ]:
#generamos las estadisticas DEL DATA FRAME FILTRADO

df2[['host_response_rate','host_acceptance_rate','price','Price$','number_of_reviews','review_scores_rating','availability_30','minimum_minimum_nights','maximum_nights','bedrooms','beds']].describe().T

In [ ]:
#Estadistica visual para ver si hay outliers
sns.boxplot(data = df2, y= "Price$")

#Queda pendiente eliminar los outliers que quedaron fuera del bigote